extends layout

block layout-content
    header
        div.topnav
         a(class="active" href="/") go back
    body 
        tr 
            th nome
            th ano
            th score
            th link
        
        each elem,i in json 
         tr
          td = n.nome
          td = n.ano 
          td = n.score 
          td = n.link 
