extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner IMDB API
    div.Message
      div.Title
        h3 Simple API for
        h1 IMDB 
      span.Details Realize o login para aceder ao api, ou registe conta
    div.NavButtons
      a(href="/login")
          div.NavButton login
    div.NavButtons
      a(href="/registar")
          div.NavButton registar
    div.NavButtons
      a(href="/demo")
          div.NavButton demo
    div.NavButtons
